In [1]:
from glob import glob

import pandas as pd
import numpy as np

import qgrid
qgrid.nbinstall()

In [2]:
def get_frames():
    for filename in glob('csvs/*.csv'):
        df = pd.read_csv(filename)
        df['ags'] = df['ags'].apply(lambda x: None if pd.isnull(x) else str(int(x)).zfill(5))
        df['value'] = pd.to_numeric(df['value'], errors='coerce')
        df = df.drop([c for c in df.columns if 'Unnamed' in c], 1)
        yield df

df = pd.concat(get_frames())
df.head()

     ags                    key              state   type  value
0  08111                   food  Baden-Württemberg  costs  24.31
1  08111  costs_nursing_class_3  Baden-Württemberg  costs  95.98
2  08111  costs_nursing_class_1  Baden-Württemberg  costs  58.54
3  08111  costs_nursing_class_2  Baden-Württemberg  costs  75.29
4  08115                   food  Baden-Württemberg  costs  23.55

In [3]:
df.to_csv('states.csv', index=False)

In [10]:
counts = df.groupby('ags').size().sort_values()
counts

ags
08231    18
09464    18
09463    18
09462    18
09461    18
09377    18
09376    18
09375    18
09374    18
09373    18
09372    18
09371    18
09363    18
09362    18
09361    18
09279    18
09278    18
09277    18
09276    18
09275    18
09274    18
09273    18
08111    18
08115    18
08116    18
08117    18
08118    18
08119    18
09471    18
08121    18
         ..
05378    22
05374    22
05370    22
05366    22
05362    22
05358    22
05334    22
05316    22
05315    22
05562    22
05974    22
05566    22
05711    22
05966    22
05962    22
05958    22
05954    22
05916    22
05915    22
05914    22
05913    22
05911    22
05774    22
05770    22
05766    22
05762    22
05758    22
05754    22
05570    22
16077    22
dtype: int64

In [ ]:
assert len(counts[counts != 21]) == 0

In [11]:
counts = df.groupby('state').size()
assert len(counts) == 16

In [12]:
# NRW nulls come from empty cells
# other are hidden for privacy reasons
df[df['value'].isnull()]

,ags,key,state,type,value
115,13003,recipients_nursing_class_unknown,Mecklenburg-Vorpommern,recipients,NaN
119,13004,recipients_nursing_class_unknown,Mecklenburg-Vorpommern,recipients,NaN
123,13071,recipients_nursing_class_unknown,Mecklenburg-Vorpommern,recipients,NaN
116,05554,costs_nursing_class_1,Nordrhein-Westfalen,costs,NaN
117,05554,costs_nursing_class_2,Nordrhein-Westfalen,costs,NaN
118,05554,costs_nursing_class_3,Nordrhein-Westfalen,costs,NaN
119,05554,food,Nordrhein-Westfalen,costs,NaN
429,05111,state_certified,Nordrhein-Westfalen,personal,NaN
430,05111,nurse,Nordrhein-Westfalen,personal,NaN
431,05111,nurse_children,Nordrhein-Westfalen,personal,NaN
439,05112,state_certified,Nordrhein-Westfalen,personal,NaN
440,05112,nurse,Nordrhein-Westfalen,personal,NaN
441,05112,nurse_children,Nordrhein-Westfalen,personal,NaN
449,05113,state_certified,Nordrhein-Westfalen,personal,NaN
450,05113,nurse,Nordrhein-Westfalen,personal,NaN
451,05113,nurse_children,Nordrhein-Westfalen,personal,NaN
459,05114,state_certified,Nordrhein-Westfalen,personal,NaN
460,05114,nurse,Nordrhein-Westfalen,personal,NaN
461,05114,nurse_children,Nordrhein-Westfalen,personal,NaN
469,05116,state_certified,Nordrhein-Westfalen,personal,NaN
470,05116,nurse,Nordrhein-Westfalen,personal,NaN
471,05116,nurse_children,Nordrhein-Westfalen,personal,NaN
479,05117,state_certified,Nordrhein-Westfalen,personal,NaN
480,05117,nurse,Nordrhein-Westfalen,personal,NaN
481,05117,nurse_children,Nordrhein-Westfalen,personal,NaN
489,05119,state_certified,Nordrhein-Westfalen,personal,NaN
490,05119,nurse,Nordrhein-Westfalen,personal,NaN
491,05119,nurse_children,Nordrhein-Westfalen,personal,NaN
499,05120,state_certified,Nordrhein-Westfalen,personal,NaN
500,05120,nurse,Nordrhein-Westfalen,personal,NaN
...,...,...,...,...,...
871,05915,nurse_children,Nordrhein-Westfalen,personal,NaN
879,05916,state_certified,Nordrhein-Westfalen,personal,NaN
880,05916,nurse,Nordrhein-Westfalen,personal,NaN
881,05916,nurse_children,Nordrhein-Westfalen,personal,NaN
889,05954,state_certified,Nordrhein-Westfalen,personal,NaN
890,05954,nurse,Nordrhein-Westfalen,personal,NaN
891,05954,nurse_children,Nordrhein-Westfalen,personal,NaN
899,05958,state_certified,Nordrhein-Westfalen,personal,NaN
900,05958,nurse,Nordrhein-Westfalen,personal,NaN
901,05958,nurse_children,Nordrhein-Westfalen,personal,NaN
909,05962,state_certified,Nordrhein-Westfalen,personal,NaN
910,05962,nurse,Nordrhein-Westfalen,personal,NaN
911,05962,nurse_children,Nordrhein-Westfalen,personal,NaN
919,05966,state_certified,Nordrhein-Westfalen,personal,NaN
920,05966,nurse,Nordrhein-Westfalen,personal,NaN
921,05966,nurse_children,Nordrhein-Westfalen,personal,NaN
929,05970,state_certified,Nordrhein-Westfalen,personal,NaN
930,05970,nurse,Nordrhein-Westfalen,personal,NaN
931,05970,nurse_children,Nordrhein-Westfalen,personal,NaN
939,05974,state_certified,Nordrhein-Westfalen,personal,NaN
940,05974,nurse,Nordrhein-Westfalen,personal,NaN
941,05974,nurse_children,Nordrhein-Westfalen,personal,NaN
949,05978,state_certified,Nordrhein-Westfalen,personal,NaN
950,05978,nurse,Nordrhein-Westfalen,personal,NaN
951,05978,nurse_children,Nordrhein-Westfalen,personal,NaN
266,15081,recipients_nursing_class_3,Sachsen-Anhalt,recipients,NaN
267,15081,recipients_nursing_class_unknown,Sachsen-Anhalt,recipients,NaN
286,15086,recipients_nursing_class_3,Sachsen-Anhalt,recipients,NaN
287,15086,recipients_nursing_class_unknown,Sachsen-Anhalt,recipients,NaN
7,01001,nurse_children,Schleswig-Holstein,personal,NaN

In [ ]:
df[df['key'] == '4-bed'].groupby('state')['value'].mean()

In [ ]:
qgrid.show_grid(df)