In [1]:
from glob import glob

import pandas as pd
import numpy as np

import qgrid
qgrid.nbinstall()

In [2]:
def get_frames():
    for filename in glob('csvs/*.csv'):
        df = pd.read_csv(filename)
        df['ags'] = df['ags'].apply(lambda x: None if pd.isnull(x) else str(int(x)).zfill(5))
        df['value'] = pd.to_numeric(df['value'], errors='coerce')
        df = df.drop([c for c in df.columns if 'Unnamed' in c], 1)
        yield df

df = pd.concat(get_frames())
df.head()

     ags                    key              state   type  value
0  08111  costs_nursing_class_2  Baden-Württemberg  costs  75.29
1  08111  costs_nursing_class_1  Baden-Württemberg  costs  58.54
2  08111                   food  Baden-Württemberg  costs  24.31
3  08111  costs_nursing_class_3  Baden-Württemberg  costs  95.98
4  08115  costs_nursing_class_2  Baden-Württemberg  costs  72.46

In [3]:
df.to_csv('states.csv', index=False)

In [3]:
counts = df.groupby('ags').size().sort_values()
len(counts)

402

In [5]:
assert len(counts[counts != 22]) == 0

In [6]:
counts = df.groupby('state').size()
assert len(counts) == 16

In [7]:
# NRW nulls come from empty cells
# other are hidden for privacy reasons
df[df['value'].isnull()]

,ags,key,state,type,value
1824,09161,state_certified,Bayern,personal,NaN
1825,09162,state_certified,Bayern,personal,NaN
1826,09163,state_certified,Bayern,personal,NaN
1827,09171,state_certified,Bayern,personal,NaN
1828,09172,state_certified,Bayern,personal,NaN
1829,09173,state_certified,Bayern,personal,NaN
1830,09174,state_certified,Bayern,personal,NaN
1831,09175,state_certified,Bayern,personal,NaN
1832,09176,state_certified,Bayern,personal,NaN
1833,09177,state_certified,Bayern,personal,NaN
1834,09178,state_certified,Bayern,personal,NaN
1835,09179,state_certified,Bayern,personal,NaN
1836,09180,state_certified,Bayern,personal,NaN
1837,09181,state_certified,Bayern,personal,NaN
1838,09182,state_certified,Bayern,personal,NaN
1839,09183,state_certified,Bayern,personal,NaN
1840,09184,state_certified,Bayern,personal,NaN
1841,09185,state_certified,Bayern,personal,NaN
1842,09186,state_certified,Bayern,personal,NaN
1843,09187,state_certified,Bayern,personal,NaN
1844,09188,state_certified,Bayern,personal,NaN
1845,09189,state_certified,Bayern,personal,NaN
1846,09190,state_certified,Bayern,personal,NaN
1847,09261,state_certified,Bayern,personal,NaN
1848,09262,state_certified,Bayern,personal,NaN
1849,09263,state_certified,Bayern,personal,NaN
1850,09271,state_certified,Bayern,personal,NaN
1851,09272,state_certified,Bayern,personal,NaN
1852,09273,state_certified,Bayern,personal,NaN
1853,09274,state_certified,Bayern,personal,NaN
...,...,...,...,...,...
871,05915,nurse_children,Nordrhein-Westfalen,personal,NaN
879,05916,state_certified,Nordrhein-Westfalen,personal,NaN
880,05916,nurse,Nordrhein-Westfalen,personal,NaN
881,05916,nurse_children,Nordrhein-Westfalen,personal,NaN
889,05954,state_certified,Nordrhein-Westfalen,personal,NaN
890,05954,nurse,Nordrhein-Westfalen,personal,NaN
891,05954,nurse_children,Nordrhein-Westfalen,personal,NaN
899,05958,state_certified,Nordrhein-Westfalen,personal,NaN
900,05958,nurse,Nordrhein-Westfalen,personal,NaN
901,05958,nurse_children,Nordrhein-Westfalen,personal,NaN
909,05962,state_certified,Nordrhein-Westfalen,personal,NaN
910,05962,nurse,Nordrhein-Westfalen,personal,NaN
911,05962,nurse_children,Nordrhein-Westfalen,personal,NaN
919,05966,state_certified,Nordrhein-Westfalen,personal,NaN
920,05966,nurse,Nordrhein-Westfalen,personal,NaN
921,05966,nurse_children,Nordrhein-Westfalen,personal,NaN
929,05970,state_certified,Nordrhein-Westfalen,personal,NaN
930,05970,nurse,Nordrhein-Westfalen,personal,NaN
931,05970,nurse_children,Nordrhein-Westfalen,personal,NaN
939,05974,state_certified,Nordrhein-Westfalen,personal,NaN
940,05974,nurse,Nordrhein-Westfalen,personal,NaN
941,05974,nurse_children,Nordrhein-Westfalen,personal,NaN
949,05978,state_certified,Nordrhein-Westfalen,personal,NaN
950,05978,nurse,Nordrhein-Westfalen,personal,NaN
951,05978,nurse_children,Nordrhein-Westfalen,personal,NaN
266,15081,recipients_nursing_class_3,Sachsen-Anhalt,recipients,NaN
267,15081,recipients_nursing_class_unknown,Sachsen-Anhalt,recipients,NaN
286,15086,recipients_nursing_class_3,Sachsen-Anhalt,recipients,NaN
287,15086,recipients_nursing_class_unknown,Sachsen-Anhalt,recipients,NaN
7,01001,nurse_children,Schleswig-Holstein,personal,NaN

In [8]:
df[df['key'] == '4-bed'].groupby('state')['value'].mean()

state
Baden-Württemberg         0.431818
Bayern                    0.572917
Berlin                    7.000000
Brandenburg               0.000000
Bremen                    0.000000
Hamburg                   6.000000
Hessen                    2.153846
Mecklenburg-Vorpommern    6.500000
Niedersachsen             1.130435
Nordrhein-Westfalen       0.132075
Rheinland-Pfalz           0.388889
Saarland                  0.666667
Sachsen                   0.000000
Sachsen-Anhalt            0.785714
Schleswig-Holstein        1.933333
Thüringen                 0.521739
Name: value, dtype: float64

In [9]:
qgrid.show_grid(df)